# Xcode
#
# gitignore contributors: remember to keep this file platform-agnostic
# gitignore test cases are defined in Xcode.xcconfig

## User-specific
.DS_Store
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcscmblueprint
*.xcscheme
*.swiftpm/

## Build generated
build/
DerivedData/

## Other
*.app
*.ipa

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# *.swiftpm/checkouts/
.build/
Packages/
